<div class="container">
	<h1 class="title">GIPHY</h1>
	<div class="search__wrap">
		<div class="search__input">
			<label for="search">SEARCH</label>
			<input type="text" name="search" id="search" placeholder="input anything">
		</div>
		<div class="search__params">
			<app-select 
				class="limit" 
				name="limit gifs"
				[value]="limitValue"
			></app-select>
			<app-select 
				class="rating" 
				name="age rating" 
				[value]="ratingValue"
			></app-select>
		</div>
	</div>
	<ul class="gif__list">
		<li *ngFor="let item of data" class="gif__item">
			<p>{{item.title}}</p>
			<div class="img_wrap">
				<img 
					src="{{item.images.fixed_height.webp}}" 
					(click)="openModal(item.images.original.webp, item.title)"
					alt=""
				/>
			</div>
		</li>
	</ul>
	<app-modal *ngIf="modal" 
		[imgUrl]="modalImgUrl"
		[imgName]="modalImgName"
		(method)="closeModal()"
	></app-modal>
</div>



